@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9ca3b3;
  --secondary: #f3f4f6;
}

.dark {
  --primary: #6b7280;
  --secondary: #1f2937;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1rem;
}